body {
    background-color: #eaeaea;
}

h1  {
    color: rgb(255, 255, 255);
}

.meme   {
    background-color: #305a00;
}

#apuca  {
    background-color: #ff5f08;
    color: #703607;
}

#nome   {
    color: #dc0000;
    font-weight: bold;
    font-size: 23px;
}

p   {
    color: rgb(0, 0, 0);
}


.TextoCentralizado {
    text-align: center;
}

.container  {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    border: 1px solid black;
}

.card   {
    background-color: #ffffff;
    width: 200px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: center;
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

header {
    background-color: #333;
    color: #ffffff;
    text-align: center;
    padding: 20px;
}

footer {
    background-color: #333;
    color: #000000;
    text-align: center;
    padding: 20px;
}